/* modal */
.modal_title {
    color: #f66a6a;
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
}

.modal_input_button_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.modal_input_wrapper {
    display: flex;
    flex: 1;
}

.modal_input {
    border: 1px solid #d4d3d3;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;
}

.modal_button_wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.modal_button_cancel,
.modal_button_submit {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.modal_button_cancel {
    border: 1px solid black;
}

.modal_button_submit {
    border: 1px solid #2974e5;
    background-color: #2974e5;
    color: white;
}
