.accommodation_new {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 20rem;
}

.accommodation_form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.accommodation_new input {
    border: 1px solid #d4d3d3;
    border-radius: 0.5rem;
    padding: 1rem;
    outline: none;
    width: 100%;
}

.accommodation_new textarea {
    resize: none;
    height: 20rem;
    border: 1px solid #d4d3d3;
    border-radius: 0.5rem;
    padding: 1rem;
    outline: none;
}

.accommodation_new input::placeholder,
.accommodation_new textarea::placeholder {
    color: #d4d3d3;
}

.divideLine {
    width: 100%;
    border-bottom: 1px solid #d4d3d3;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.require_input {
    padding: 0.3rem;
    align-items: center;
    color: red;
}

.main_section_1,
.main_section_2,
.main_section_3,
.main_section_4,
.main_section_5,
.main_section_6,
.main_section_7 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.address_wrapper {
    display: flex;
    gap: 0.5rem;
}

.address_wrapper .address_left {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.address_wrapper .address_right {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.main_section_6 .address_area_1 {
    display: flex;
    gap: 0.5rem;
}

.main_section_6 .address_area_1 > input {
    width: 5rem;
}

.LatLng_area {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.LatLng_area input:disabled {
    background-color: #e4e4e4;
    border-color: #e4e4e4;
}

.LatLng_area input::placeholder {
    color: #919191;
}

.geo {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    color: gray;
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main_section_6 .address_area_1 button,
.footer .cancel {
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.main_section_6 .address_area_1 button,
.footer button {
    padding: 0.5rem 1rem;
}

.main_section_7 img {
    width: 10rem;
}

.img_position {
    position: relative;
}

.img_position:hover .image_delete {
    display: block;
}

.img_wrapper {
    display: flex;
    gap: 1rem;
}

.img_wrapper .image_input {
    display: none;
}

.img_wrapper .image_delete {
    display: none;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: white;
    background-color: black;
    width: 1.5rem;
    border-radius: 1rem;
}

.footer .submit:disabled {
    background-color: #c7c7c7;
    border: 1px solid #c7c7c7;
    color: white;
    border-radius: 0.5rem;
}

.submit {
    background-color: #2974e5;
    color: white;
    border-radius: 0.5rem;
    border: 1px solid #2974e5;
}

.error {
    color: red;
}
