/* detail-reg-comment start */
.detail_reg_reply {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detail_reg_reply_edit {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detail_reg_reply textarea,
.detail_reg_reply_edit textarea {
    resize: none;
    height: 10rem;
    border: 1px solid #d4d3d3;
    border-radius: 0.5rem;
    padding: 1rem;
    outline: none;
}

.detail_reply_btn_wrapper {
    display: flex;
    justify-content: flex-end;
}

.detail_reply_btn_wrapper button {
    color: white;
    background-color: black;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
