.search_wrapper {
    text-align: right;
}

.text_input {
    width: 50%;
    background-color: #f2f2f2;
    border-radius: 0.5rem;
    padding: 1rem;
    outline: none;
    background-image: url("/images/search.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 1rem center;
    padding-left: 3rem;
}

.button_wrapper {
    display: flex;
    gap: 1rem;
}

.button_wrapper button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.button_wrapper button:hover {
    background-color: black;
    color: white;
}

.search_wrapper {
    text-align: right;
}

.text_input {
    width: 50%;
    background-color: #f2f2f2;
    border-radius: 0.5rem;
    padding: 1rem;
    outline: none;
    background-image: url("/images/search.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 1rem center;
    padding-left: 3rem;
}

/* bookmark start */
.bookmark_wrapper {
    border: 1px solid #efefef;
    border-radius: 1rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.bookmark_title {
    cursor: pointer;
}

.search_keyword {
    color: red;
}

.bookmark_num,
.bookmark_header_num,
.bookmark_price,
.bookmark_header_price,
.bookmark_regDate,
.bookmark_header_regDate,
.bookmark_seller_wrapper,
.bookmark_header_seller {
    width: 10%;
    text-align: center;
}

.bookmark_title,
.bookmark_header_title {
    width: 60%;
}

.bookmark_num,
.bookmark_regDate {
    color: gray;
}

.bookmark_table {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.bookmark_header {
    display: flex;
    font-weight: bold;
    padding: 1rem 0rem;
}

.bookmark_body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bookmark_row {
    display: flex;
    border: 1px solid #efefef;
    border-radius: 1rem;
    padding: 1rem 0rem;

    cursor: context-menu;
}

.bookmark_price {
    color: #2974e5;
}
/* bookmark end */
