/* sale start */
.sale_wrapper {
    border: 1px solid #efefef;
    border-radius: 1rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sale_date,
.sale_header_date,
.sale_transaction,
.sale_header_transaction,
.sale_balance,
.sale_header_balance {
    width: 10%;
    text-align: center;
}

.sale_title,
.sale_header_title {
    width: 70%;
    padding: 0rem 1rem;
}

.sale_date {
    color: gray;
}

.sale_transaction {
    color: #2974e5;
}

.sale_table {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.sale_header {
    display: flex;
    font-weight: bold;
    padding: 1rem 2rem;
}

.sale_body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sale_row {
    display: flex;
    border: 1px solid #efefef;
    border-radius: 1rem;
    padding: 1rem 2rem;

    cursor: context-menu;
}
/* sale end */
