.reply_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0rem 0.5rem 2rem;
}

.answer_wrapper {
    display: flex;
    gap: 0.5rem;
}

.answer_wrapper_width_100per {
    width: 100%;
}

.divideLine {
    width: 100%;
    border-top: 1px solid #d4d3d3;
}

.user_wrapper,
.detail_user_info {
    display: flex;
    gap: 1rem;
}

.detail_reply_contents {
    color: gray;
}

.reply_detail_image_wrapper {
    display: flex;
    gap: 0.5rem;
}

/* .reply_wrapper:hover .reply_detail_image_wrapper {
    display: flex;
} */

.detail_edit_image,
.detail_delete_image {
    cursor: pointer;
}

.user_header_wrapper {
    display: flex;
    justify-content: space-between;
}
