.search_wrapper {
    text-align: right;
}

.text_input {
    width: 50%;
    background-color: #f2f2f2;
    border-radius: 0.5rem;
    padding: 1rem;
    outline: none;
    background-image: url("/images/search.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 1rem center;
    padding-left: 3rem;
}

.search_wrapper {
    text-align: right;
}

.text_input {
    width: 50%;
    background-color: #f2f2f2;
    border-radius: 0.5rem;
    padding: 1rem;
    outline: none;
    background-image: url("/images/search.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 1rem center;
    padding-left: 3rem;
}

/* transaction start */
.transaction_wrapper {
    border: 1px solid #efefef;
    border-radius: 1rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.transaction_title {
    cursor: pointer;
}

.search_keyword {
    color: red;
}

.transaction_num,
.transaction_header_num {
    width: 15%;
    text-align: center;
}

.transaction_title,
.transaction_header_title {
    width: 70%;
}

.transaction_writer,
.transaction_header_writer {
    width: 10%;
    text-align: center;
}

.transaction_regDate,
.transaction_header_regDate {
    width: 10%;
    text-align: center;
}
.delete_wrapper,
.transaction_header_delete {
    width: 5%;
    display: flex;
    justify-content: center;
}

.transaction_num,
.transaction_regDate {
    color: gray;
}

.transaction_table {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.transaction_header {
    display: flex;
    font-weight: bold;
    padding: 1rem 0rem;
}

.transaction_body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.transaction_row {
    display: flex;
    border: 1px solid #efefef;
    border-radius: 1rem;
    padding: 1rem 0rem;
    /* gap: 0.5rem; */

    cursor: context-menu;
}

.transaction_delete {
    display: none;
    cursor: pointer;
}

.transaction_row:hover .transaction_delete {
    display: block;
}
/* transaction end */
