/* charging start */
.charging_wrapper {
    border: 1px solid #efefef;
    border-radius: 1rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.charging_date,
.charging_header_date,
.charging_transaction,
.charging_header_transaction,
.charging_balance,
.charging_header_balance {
    width: 10%;
    text-align: center;
}

.charging_impUid,
.charging_header_impUid {
    width: 70%;
    padding: 0rem 1rem;
}

.charging_date {
    color: gray;
}

.charging_transaction {
    color: #2974e5;
}

.charging_table {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.charging_header {
    display: flex;
    font-weight: bold;
    padding: 1rem 2rem;
}

.charging_body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.charging_row {
    display: flex;
    border: 1px solid #efefef;
    border-radius: 1rem;
    padding: 1rem 2rem;

    cursor: context-menu;
}
/* charging end */
