@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: globalFont;
}

@font-face {
    font-family: globalFont;
    src: url(../commons/Pretendard-Regular.woff2);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}
h2 {
    @apply text-xl;
    font-weight: 700;
}
h3 {
    @apply text-lg;
}

h4 {
    @apply text-lg;
}

h5 {
    @apply text-lg;
    font-weight: 700;
}

button:not(:disabled) {
    cursor: pointer;
}

.grayColor {
    color: gray;
}

/* react-image-gallery start */
.image-gallery-content {
    display: flex;
    gap: 1rem;
}

.image-gallery-slide-wrapper {
    width: 80% !important;
}

.image-gallery-thumbnails-wrapper {
    width: 20% !important;
}

.styles_image_gallery_container__jmjyA {
    border-radius: 0.5rem;
}

.image-gallery-thumbnails-container button {
    opacity: 0.5;
    width: 100% !important;
    aspect-ratio: 4/3;
    background-color: lightgray;
    border-radius: 0.5rem;
}

.image-gallery-thumbnails,
.image-gallery-thumbnails .active,
.image-gallery-thumbnails:hover {
    border: none !important;
}

.image-gallery-thumbnails .active {
    opacity: 1;
}

nav.image-gallery-thumbnails-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
/* react-image-gallery end */

/* mui-material-Menu start */
.MuiPaper-root {
    width: 200px;
}

.MuiList-root {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
/* mui-material-Menu end */

/* react-quill start */
.ql-editor {
    height: 20rem !important;
}
/* react-quill end */
