.accommodation_page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 20rem;
}

/* img start */

.detail_images {
    border-radius: 1rem;
}
/* img end */

/* 게시판 아래 메뉴바 시작 */

.submit_btn {
    background-color: #2974e5;
    color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    outline: none;
    background-image: url("/images/write_white.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 1rem center;
    padding-left: 3rem;
}
/* 게시판 아래 메뉴바 끝 */

.accommodation_boards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.accommodation_func_wrapper {
    display: flex;
    justify-content: space-between;
}

.accommodation_table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    column-gap: 2rem;
    row-gap: 2rem;
}

.product_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
    position: relative;
    min-width: 0;
}

.product_image {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.product_name,
.product_remarks {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-bottom: 0.1rem;
}

.product_remarks {
    color: #5f5f5f;
}

.product_tags {
    color: #2974e5;
}

.product_tags_none {
    visibility: hidden;
}

.product_seller_price {
    display: flex;
    justify-content: space-between;
}

.product_price {
    font-weight: 700;
}

.button_wrapper {
    display: flex;
    gap: 1rem;
}

.button_wrapper button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.button_wrapper button:hover {
    background-color: black;
    color: white;
}

.reservation_selected {
    color: white;
    background-color: black;
}

.accommodation_pickedCount {
    color: white;
    border-radius: 0.5rem;
    background: url("/images/bookmark-white.png") 25px 25px no-repeat #00000066;
    background-position: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
