/* purchase start */
.purchase_wrapper {
    border: 1px solid #efefef;
    border-radius: 1rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.purchase_title,
.purchase_header_title {
    width: 70%;
    padding: 0rem 1rem;
}

.purchase_transaction {
    color: #f66a6a;
}

.purchase_date,
.purchase_header_date,
.purchase_transaction,
.purchase_header_transaction,
.purchase_balance,
.purchase_header_balance {
    width: 10%;
    text-align: center;
}

.purchase_date {
    color: gray;
}

.purchase_table {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.purchase_header {
    display: flex;
    font-weight: bold;
    padding: 1rem 2rem;
}

.purchase_body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.purchase_row {
    display: flex;
    border: 1px solid #efefef;
    border-radius: 1rem;
    padding: 1rem 2rem;

    cursor: context-menu;
}
/* purchase end */
